.news-links{
  text-decoration: inherit;
  color: inherit;
}
.container{
  margin: 0 auto;
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  border-color: gray;
  font-family: 'roboto condensed';
  color: black;
  box-shadow: 0 5px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.container h1, p{
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.news-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30%;
  font-size: 1.5em;
}
.date, .news-author{
  margin: 0;
  margin-left: 2rem;
  color: lightgray;
}
.news-text{
  height: 40%;
}
.slides{
  display: flex;
  height: 100%;
}
.slide{
  min-width:100%;
  position: relative;
}
.slide-controls{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#next-btn, #prev-btn{
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: none;
  padding: 10px;
  color: black;
}
#next-btn:focus, #prev-btn:focus{
   outline: none;
}
