body{
    font-family: 'roboto condensed';
    color: white;
    display: flex;
    flex-direction: column;
}
.how-started-page{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.header-left{
    position: absolute;
    width: 15vw;
}

