@font-face {
  font-family: andromeda;
  src: url(fonts/Andromeda.ttf);
}

@font-face {
  font-family: 'roboto condensed';
  src: url(fonts/RobotoCondensed-Regular.ttf);
}

/* MAIN COLORS FOR THE WEBSITE---------------------------------------------------------------*/
/* SAME STYLE FOR THE CONTAINER OF EACH SECTION OF THE PAGE---------------------------------------------------------*/
.landing, .how-started, .how-works, .innovations, .impact, .prototypes, .work-with-us {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  width: 94vw;
  height: 50vh;
  padding: 3vh;
  margin: 0;
  z-index: 0;
  background-size: 94vw;
  background-position: center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 4px;
  border-color: #07484f;
  font-family: 'roboto condensed';
  font-family: 'roboto condensed';
}

/* TITLE STYLES--------------------------------------------------------------------------------------------------------*/
.title {
  font-family: 'roboto condensed';
  font-size: 1.8em;
  color: white;
  text-align: center;
  margin-top: 3vh;
}

/*BUTTON STYLES------------------------------------------------------------------------*/
.button-info {
  width: 8em;
  height: 2.6em;
  margin: 0 auto;
  padding: 0.7em 1.2em;
  font-size: 1em;
  border-radius: 20px;
  border-style: none;
  background-image: radial-gradient(#1b373f, #062b35);
  color: white;
}

.button-info:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

/* FONT SIZES------------------------------------------------------------------------------*/
/*TEXT STYLES-------------------------------------------------------------------------------*/
.text {
  color: white;
  font-family: 'roboto condensed';
  font-size: 1.2em;
  text-align: center;
}

/*SPLASH SCREEN------------------------------------------------------------------------------*/
.splash {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  padding: 8vw;
  background-color: black;
  z-index: 5;
}

.quote-container {
  width: 60vw;
  height: 50vh;
  color: white;
  font-family: 'roboto condensed';
  font-size: 3.5em;
  text-align: left;
  z-index: 7;
}

.quote {
  display: inline-block;
  opacity: 0;
}

.green {
  color: green;
  font-family: 'roboto condensed';
  font-size: 3.5rem;
  text-align: left;
  text-transform: uppercase;
}

.arrow {
  position: absolute;
  -webkit-transform: translate(-300vw);
          transform: translate(-300vw);
  width: 250vw;
}

.display-none {
  display: none;
}

html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  min-width: 320px;
  margin: 0;
  background-color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8vw;
  padding-right: 8vw;
}

/* HIDES THE REST OF THE CONTENT WHILE THE BURGER MENU IS OPEN --------------------------------*/
.body-scroll-hide {
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

/* HEADER--------------------------------------------------------------------------------------*/
.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  position: fixed;
  height: 7vh;
  top: 0;
  background-color: black;
  opacity: 0.95;
  z-index: 2;
}

#header-title {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 2vh;
  font-size: 1.5em;
  color: white;
  font-family: andromeda;
  opacity: 0;
  text-align: center;
  text-shadow: 0 0 0 #FFFFFF, 0 0 0 #FFFFFF, 0 0 0 #FFFFFF, 0 0 0 #228DFF, 0 0 0 #228DFF, 0 0 0 #228DFF, 0 0 0 #228DFF, 0 0 0 #228DFF;
}

#header-title.blueGlow {
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 00px #FFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
}

/* BURGER MENU WITH OVERLAY -----------------------------------------------------------------*/
.overlay-container {
  width: 0;
  height: 0;
  background: black;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: -80vh;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  color: white;
  overflow-x: hidden;
  z-index: 2;
  margin: 0;
}

.overlay-change {
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  margin: 0;
  background-color: black;
  background-size: 115vw 110vh;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1.8em;
  height: 1.8em;
  position: fixed;
  top: 2vh;
  left: 3vw;
  cursor: pointer;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: #4D99AF;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.overlay-change .line-1 {
  -webkit-transform: rotateZ(-405deg) translate(-8px, 6px);
          transform: rotateZ(-405deg) translate(-8px, 6px);
}

.overlay-change .line-2 {
  opacity: 0;
}

.overlay-change .line-3 {
  -webkit-transform: rotateZ(405deg) translate(-8px, -6px);
          transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  text-align: center;
  padding: 0;
}

.nav-item {
  list-style: none;
  margin: 25px 0;
}

.nav-link {
  text-decoration: none;
  font-size: 1.7em;
  color: white;
  font-family: 'roboto condensed';
  text-align: center;
  position: relative;
}

.nav-link:active {
  font-size: 2em;
  text-shadow: 2px 2px #134643;
}

.navigation-line {
  width: 60vw;
  height: 1px;
}

/* DIVISION LINE FOR TITLES---------------------------------------------------------------------*/
.division-line-title {
  margin-top: 10vh;
  margin-bottom: 2vh;
  border-style: none;
  background-color: #4D99AF;
  width: 80vw;
  height: 3px;
}

/* DIVISION LINE---------------------------------------------------------------------------*/
.division-line {
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-style: none;
  background-color: #4D99AF;
  width: 80vw;
  height: 3px;
}

.impact-subtitle {
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 0;
  color: white;
  font-family: 'roboto condensed';
  font-size: 2.2em;
}

.impact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-family: 'roboto condensed';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carbon-monoxide, .fine-particles, .ammonia {
  font-size: 5em;
  color: white;
  font-family: 'roboto condensed';
}

.unit-representation {
  text-align: center;
  margin-top: 2vh;
}

.units {
  margin-top: -5vh;
  margin-bottom: 10vh;
}

.units:last-child {
  margin-top: -5vh;
  margin-bottom: 6vh;
}

.text-center {
  text-align: center;
}

.last-update {
  color: white;
  margin-bottom: 2vh;
}

.car-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.car-gas {
  width: 30%;
  height: 30%;
}

.pollution-text {
  text-align: center;
}

.tires-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

.tires {
  width: 25%;
}

.brakes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2vh;
}

.brakes {
  width: 25%;
}

/* SUBSCRIBE SECTION---------------------------------------------------------------------------*/
.subscribe-container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.subscribe-text {
  margin: 0;
  font-size: 1.2em;
  text-align: left;
  font-family: 'roboto condensed';
}

.subscribe-input {
  font-size: 0.9em;
  text-align: center;
  min-width: 60vw;
  min-height: 4vh;
  margin-top: -10px;
  margin-bottom: 2vh;
}

.button-subscribe:active {
  position: relative;
  -webkit-transform: translate(0%, 3%);
          transform: translate(0%, 3%);
}

#snackbar {
  visibility: hidden;
  position: fixed;
  z-index: 3;
  padding: 2vh;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 2vh;
  min-width: 40vw;
  background-color: white;
  color: black;
  font-family: 'roboto condensed';
  text-align: center;
  border-radius: 5px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* FOOTER------------------------------------------------------------------------------------------*/
a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-decoration: none;
}

.social-buttons li {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 20px 0px 0px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disclaimer {
  color: gray;
  font-family: "roboto condensed";
  font-size: 1em;
  text-align: center;
  margin: 0;
}

.legal-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.legal-items li {
  list-style: none;
  color: gray;
  font-family: "roboto condensed";
  font-size: 0.8em;
  text-align: center;
  padding: 0.3vw;
  margin: 0;
}
/*# sourceMappingURL=impact-style.css.map */