@font-face {
    font-family: andromeda;
    src: url(fonts/Andromeda.ttf);
}
@font-face {
    font-family: 'roboto condensed';
    src: url(fonts/RobotoCondensed-Regular.ttf);
}

/* MAIN COLORS FOR THE WEBSITE---------------------------------------------------------------*/
$colors:(
    background: black,
    primary: #4D99AF,
    border: #07484f,
    button: #4D99AF,
    text: white,
    sub-text: gray
);

/* SAME STYLE FOR THE CONTAINER OF EACH SECTION OF THE PAGE---------------------------------------------------------*/
@mixin section{
    box-sizing: border-box;
    overflow: hidden;
    width: 94vw;
    height: 50vh;
    padding: 3vh;
    margin: 0;
    z-index: 0;
    background-size: 94vw;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 4px;
    border-color: map-get($colors, border);
    font-family: 'roboto condensed';
    font-family: 'roboto condensed';
}
.landing, .how-started, .how-works, .innovations, .impact, .prototypes, .work-with-us{
    @include section; 
}

/* TITLE STYLES--------------------------------------------------------------------------------------------------------*/
@mixin title{
    font-family: 'roboto condensed';
    font-size: 1.8em;
    color: white;
    text-align: center;
    margin: 0;
}
.title{
    @include title;
}

/*BUTTON STYLES------------------------------------------------------------------------*/
@mixin button-info-style{
    margin: 0 auto;
    padding: 0.7em 1.2em;
    border-radius: 20px;
    border-style: none;
    background-color: map-get($colors, button);
    color: map-get($colors, text);
    box-shadow: rgba(255, 255, 255, 0.35) 0px 3px 3px;
}
.button-info{
    @include button-info-style
}
@mixin button-info-style-active{
    position: fixed;
    background-color:#07484f;
    box-shadow: 0 2px #666;
    transform: translate(-50%, -45%);
}
.button-info:active{
    @include button-info-style-active;
}
@mixin button-buttom-style{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-buttom{
    @include button-buttom-style;
}

/*TEXT STYLES------------------------------------------------------------------------------*/
.text{
    color: white;
    font-family: 'roboto condensed';
    font-size: 1.2em;
    text-align: center;
}

/* FONT SIZES------------------------------------------------------------------------------*/
$font-size:(
    title: 1.8rem,
    sub-title: 1rem,
    text: 0.8rem,
    sub-text: 0.5rem
);

html,body{
    box-sizing: border-box;
    width: 100vw;
    min-width: 320px;
    margin: 0;
    background-color: map-get($colors, background);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    
}
/* HIDES THE REST OF THE CONTENT WHILE THE BURGER MENU IS OPEN --------------------------------*/
.body-scroll-hide{
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

/* HEADER--------------------------------------------------------------------------------------*/
.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    position: fixed;
    height: 7vh;
    top: 0;
    background-color: map-get($colors, background);
    opacity: 0.95;
    z-index:2;
}
  #header-title{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 2vh;
    font-size: 1.5em;
    color: map-get($colors, text);;
    font-family: andromeda;
    font-size: 2em;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 00px #FFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
}


/* BURGER MENU WITH OVERLAY -----------------------------------------------------------------*/
.overlay-container{
    width: 0;
    height: 0;
    background: map-get($colors, background);
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: map-get($colors, background);
    position: absolute;
    top: 0;
    left:-80vh;
    transition: left 0.5s ease-in-out;
    color: map-get($colors, text);
    overflow-x: hidden;
    z-index: 2;
    margin: 0;
}
.overlay-change{
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    margin: 0;
    background-color: black;
    background-size: 115vw 110vh;
}
.burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1.8em;
    height: 1.8em;
    position: fixed;
    top: 2vh;
    left: 3vw;
    cursor: pointer;
}
.burger-line{
    width: 100%;
    height: 3px;
    background-color: map-get($colors, primary);
    transition: all .8s;
}
.overlay-change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.overlay-change .line-2{
     opacity: 0;
  }
.overlay-change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
  }
.nav-list{
    text-align: center;
    padding: 0;
  }
.nav-item{
    list-style: none;
    margin: 25px 0;    
  }
.nav-link{
    text-decoration: none;
    font-size: 1.7em;
    color: map-get($colors, text);
    font-family: 'roboto condensed';
    text-align: center;
    position: relative;
}
.nav-link::before,
.nav-link::after{
    content:'';
    width: 100%;
    height: 2px;
    background-color: map-get($colors, primary);
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}
.nav-link::before{
    top: 0;
    transform-origin: left;
}
.nav-link::after{
    bottom: 0;
    transform-origin: right;
}
.nav-link:hover::before,
.nav-link:hover::after{
    transform: scaleX(1); 
}
  
/* DIVISION LINE---------------------------------------------------------------------------*/
.division-line{
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-style: none;
    background-color: map-get($colors, primary);
    width: 90vw;
    height: 3px;
}

/* LANDING SECTION ----------------------------------------------------------------------------*/
.landing{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 7vh;
    background-image: url('images/landing.png');
    align-items: center;
}
.landing-text{
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    color: map-get($colors, text);
    bottom: -8vh;
    font-size: 1.4em;
    right: 25%;
    color: white;
}
.button-landing{
    position: relative;
    bottom: -8vh;
    margin-right: 1em;
}
.button-landing:active{
    position: relative;
    bottom: -8.3vh;
    margin-right: 1em;
}
.arrow{
    width: 10vw;
    position: absolute;
    top: 70vh;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
.arrow-invisible{
    visibility: hidden;
    width: 0;
    height: 0;
}

/* HOW IT STARTED SECTION------------------------------------------------------------------------------------*/
.how-started{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}
.svg-how-started{
    width: 50vw;
    margin-top: 5vh;
}

/* HOW IT WORKS SECTION---------------------------------------------------------------------------*/
.how-works{
    background-image: url('images/how-works.png');
    background-size: 90vw 30vh;
    color: map-get($colors, text);
    text-align: center;
}
.how-works-text{
    font-size: map-get($font-size, title);
    margin: 0;
    color: map-get($colors, text);
}

/* INNOVATIONS SECTION-----------------------------------------------------------------------------*/
.innovations{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url('images/innovations.png');
    background-size: 75vw 35vh;
    z-index: 0;  
}
.innovations-title{
    font-size: map-get($font-size, title);
    color: map-get($colors, text);
    text-align: center;
    margin: 0;
}
.innovations-subtitle{
    position: relative;
    top: 11vh;
    color: white;
    font-family: 'roboto condensed';
    text-align: center;
}

/* NEWS SECTION--------------------------------------------------------------------------------*/
.news{
    margin: 0 auto;
    width: 100vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
    background-color: map-get($colors, background);
    font-family: 'roboto condensed';
    color: map-get($colors, text);
    text-overflow: clip;
}
.slide{
    min-width: 100%;
    position: relative;
    margin: 0 auto;
}
.slides{
    display: flex;
    height: 100%;
    margin: 0 auto; 
    min-width: 100%;
}
.news-links{
    text-decoration: inherit;
    color: inherit;
}
.news h1, p{
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.news-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    font-size: 1.4em;
}
.date, .news-author{
    margin: 0;
    padding-left: 3rem;
    color: lightgray;
}
.news-text{
    height: 40%;
    text-overflow: ellipsis;
}
.slide-controls{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#next-btn, #prev-btn{
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 15px;
    color: map-get($colors, text);
}
#next-btn:focus, #prev-btn:focus{
     outline: none;
}
.fake-container{
    position: absolute;
    background-color: transparent;
    width: 94vw;
    height: 49vh;
    margin-left: 2vw;
    margin-right: 2vw;
    border-style: solid;
    border-width: 4px;
    border-color: 07484f;
}

/* IMPACT SECTION-------------------------------------------------------------------------------*/
.impact{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr;
    grid-template-rows: 28% 50% 20%;
    overflow: hidden;
}
.impact-title{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    color: map-get($colors, text);
    font-size: map-get($font-size, subtitle);
    margin: 0;
    text-align: center; 
}
.impact-subtitle{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    margin-top: 6vh;
    padding: 0;
    color: map-get($colors, text);
    font-size: map-get($font-size, subtitle);
    text-align: left;
}
.carbon-monoxide, .fine-particles, .ammonia{
    color: white;
    font-size: 2em;
    text-align: center;
}
.carbon-monoxide{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
}
.fine-particles{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:2;
}
.ammonia{
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start:2;
}
.unit-representationCM{
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5vh;
    color: gray;
}
.unit-representationFP{
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5vh;
    color: gray;
}
.unit-representationAM{
    grid-column-start: 5;
    grid-row-start: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5vh;
    color: gray;
}
.units{
    color: gray;
    font-size: 0.7em;
    text-align: center;
    margin-top: 10vh;
}
.unit1{
    grid-column-start: 1;
    grid-row-start: 2;
}
.unit2{
    grid-column-start: 3;
    grid-row-start: 2;
}
.unit3{
    grid-column-start: 5;
    grid-row-start: 2;
}
.pollutant-title{
    color: map-get($colors, text);
    text-align: center;
    margin-top: -2vh;
}
.carbon-monoxide-title{
    grid-column-start: 1;
    grid-row-start: 2;
    position: relative;
    top: 7vh;
}
.fine-particles-title{
    grid-column-start: 3;
    grid-row-start: 2;
    position: relative;
    top: 7vh;
}
.ammonia-title{
    grid-column-start: 5;
    grid-row-start: 2;
    position: relative;
    top: 7vh;
}
.pollution-city{
    position: relative;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    padding: 0;
    color:map-get($colors, text);
    text-align: center;
    line-height: 40px;
    margin-top: -3vh;
}
.last-update{
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    color:map-get($colors, text);
    text-align: center;
    margin-top: 1vh;
}

/* PROTOTYPES SECTION-----------------------------------------------------------------------*/
.prototypes{
    background-image: url('images/prototypes.png');
}
.prototype-image{
    width: 92vw;
}
.prototypes-title{
    font-size: map-get($font-size, title);
    color: white;
    font-family: 'roboto condensed';
    text-align: center;
}

/* WORK WITH US SECTION----------------------------------------------------------------------*/
.work-with-us{
    background-image: url('images/work-with-us.png');
}
.work-with-us-title{
    color: map-get($colors, text);
    text-align: center;
    font-family: 'roboto condensed';
    font-size: map-get($font-size, title);
    margin: 0;
}

/* SUBSCRIBE SECTION---------------------------------------------------------------------------*/
.subscribe-container{
    color:white;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0;
}
.subscribe-text{
    margin: 0;
    font-size: 1.2em;
    text-align: left;
    font-family: 'roboto condensed';
}
.subscribe-input{
    font-size: 0.9em;
    text-align: center;
    min-width: 60vw;
    min-height: 3vh;
    margin-top: -10px;
    margin-bottom: 2vh;
}
.button-subscribe:active{
    position: relative;
    transform: translate(-0%, 3%);
}
#snackbar {
    visibility: hidden;
    position: fixed;
    z-index: 3;
    padding: 2vh; 
    margin-left: 50%;
    transform: translate(-50%, -50%);
    bottom: 2vh;
    min-width: 40vw;
    background-color: rgb(255, 255, 255); 
    color: black; 
    font-family: 'roboto condensed';
    text-align: center; 
    border-radius: 5px; 
  }
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
} 
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
 @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
 @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* FOOTER------------------------------------------------------------------------------------------*/
.social-buttons li{
    list-style: none;
    display: inline-flex;
    padding: 0px 30px 0px 0px;
    color: white;
    align-items: center;
}
.disclaimer{
    color: map-get($colors, sub-text);
    font-family: "roboto condensed";
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}
.legal-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.legal-items li{
    list-style: none;
    color: gray;
    font-family: "roboto condensed";
    font-size: 0.8em;
    text-align: center;
    padding: 0.5vw;
    margin: 0;
}

