@font-face {
  font-family: andromeda;
  src: url(fonts/Andromeda.ttf);
}

@font-face {
  font-family: 'roboto condensed';
  src: url(fonts/RobotoCondensed-Regular.ttf);
}

/* MAIN COLORS FOR THE WEBSITE---------------------------------------------------------------*/
/* SAME STYLE FOR THE CONTAINER OF EACH SECTION OF THE PAGE---------------------------------------------------------*/
.landing, .how-started, .how-works, .innovations, .impact, .prototypes, .work-with-us {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  width: 94vw;
  height: 50vh;
  padding: 3vh;
  margin: 0;
  z-index: 0;
  background-size: 94vw;
  background-position: center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 4px;
  border-color: #07484f;
  font-family: 'roboto condensed';
  font-family: 'roboto condensed';
}

/* TITLE STYLES--------------------------------------------------------------------------------------------------------*/
.title {
  font-family: 'roboto condensed';
  font-size: 1.8em;
  color: white;
  text-align: center;
  margin: 0;
}

/*BUTTON STYLES------------------------------------------------------------------------*/
.button-info {
  width: 8em;
  height: 2.6em;
  margin: 0 auto;
  padding: 0.7em 1.2em;
  font-size: 1em;
  border-radius: 20px;
  border-style: none;
  background-image: radial-gradient(#1b373f, #062b35);
  color: white;
}

.button-info:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

/*TEXT STYLES------------------------------------------------------------------------------*/
.text {
  color: white;
  font-family: 'roboto condensed';
  font-size: 1.2em;
  text-align: center;
}

/* FONT SIZES------------------------------------------------------------------------------*/
html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  min-width: 320px;
  margin: 0;
  background-color: black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
}

/* HIDES THE REST OF THE CONTENT WHILE THE BURGER MENU IS OPEN --------------------------------*/
.body-scroll-hide {
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

/* HEADER--------------------------------------------------------------------------------------*/
.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 100vw;
  position: fixed;
  height: 7vh;
  top: 0;
  background-color: black;
  opacity: 0.95;
  z-index: 2;
}

#header-title {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 2vh;
  font-size: 1.5em;
  color: white;
  font-family: andromeda;
  font-size: 2em;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 00px #FFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
}

/* BURGER MENU WITH OVERLAY -----------------------------------------------------------------*/
.overlay-container {
  width: 0;
  height: 0;
  background: black;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: -80vh;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
  color: white;
  overflow-x: hidden;
  z-index: 2;
  margin: 0;
}

.overlay-change {
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  margin: 0;
  background-color: black;
  background-size: 115vw 110vh;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 1.8em;
  height: 1.8em;
  position: fixed;
  top: 2vh;
  left: 3vw;
  cursor: pointer;
}

.burger-line {
  width: 100%;
  height: 3px;
  background-color: #4D99AF;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.overlay-change .line-1 {
  -webkit-transform: rotateZ(-405deg) translate(-8px, 6px);
          transform: rotateZ(-405deg) translate(-8px, 6px);
}

.overlay-change .line-2 {
  opacity: 0;
}

.overlay-change .line-3 {
  -webkit-transform: rotateZ(405deg) translate(-8px, -6px);
          transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  text-align: center;
  padding: 0;
}

.nav-item {
  list-style: none;
  margin: 25px 0;
}

.nav-link {
  text-decoration: none;
  font-size: 1.7em;
  color: white;
  font-family: 'roboto condensed';
  text-align: center;
  position: relative;
}

.nav-link::before,
.nav-link::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #4D99AF;
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.nav-link::before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-link::after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.nav-link:hover::before,
.nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navigation-line {
  width: 60vw;
  height: 1px;
}

/* DIVISION LINE---------------------------------------------------------------------------*/
.division-line {
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-style: none;
  background-color: #4D99AF;
  width: 90vw;
  height: 3px;
}

/* LANDING SECTION ----------------------------------------------------------------------------*/
.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 7vh;
  background-image: url("images/small-landing.png");
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-text {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: left;
  color: white;
  margin-top: 2vh;
  font-size: 1.4em;
  right: 25%;
  color: white;
  width: 40vw;
}

.button-landing {
  position: relative;
  margin-top: 16vh;
}

.arrow {
  width: 10vw;
  position: absolute;
  top: 68vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: visible;
}

.arrow-invisible {
  visibility: hidden;
  width: 0;
  height: 0;
}

/* HOW IT STARTED SECTION------------------------------------------------------------------------------------*/
.how-started {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("images/beginnings.png");
  background-size: cover;
  background-position: center;
}

.button-how-started {
  margin-top: 35vh;
}

/* HOW IT WORKS SECTION---------------------------------------------------------------------------*/
.how-works {
  background-image: url("images/small-technology.png");
  color: white;
  text-align: center;
}

.how-works-text {
  font-size: 1.8rem;
  margin: 0;
  color: white;
}

.how-works-button {
  margin-top: 34vh;
}

/* INNOVATIONS SECTION-----------------------------------------------------------------------------*/
.innovations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-image: url("images/innovations.png");
  background-size: cover;
  z-index: 0;
}

.innovations-title {
  font-size: 1.8rem;
  color: white;
  text-align: center;
  margin: 0;
}

.innovations-subtitle {
  position: relative;
  top: 11vh;
  color: white;
  font-family: 'roboto condensed';
  text-align: center;
}

.innovations-button {
  margin-top: 35vh;
}

/* NEWS SECTION--------------------------------------------------------------------------------*/
.news {
  margin: 0 auto;
  width: 100vw;
  height: 50vh;
  position: relative;
  overflow: hidden;
  background-color: black;
  font-family: 'roboto condensed';
  color: white;
  text-overflow: clip;
}

.slide {
  min-width: 100%;
  position: relative;
  margin: 0 auto;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 auto;
  min-width: 100%;
}

.news-links {
  text-decoration: inherit;
  color: inherit;
}

.news h1, p {
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.news-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30%;
  font-size: 1.4em;
}

.date, .news-author {
  margin: 0;
  padding-left: 3rem;
  color: lightgray;
}

.news-text {
  height: 40%;
  text-overflow: ellipsis;
}

.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#next-btn, #prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: none;
  padding: 15px;
  color: white;
}

#next-btn:focus, #prev-btn:focus {
  outline: none;
}

.fake-container {
  position: absolute;
  background-color: transparent;
  width: 94vw;
  height: 49vh;
  margin-left: 2vw;
  margin-right: 2vw;
  border-style: solid;
  border-width: 4px;
  border-color: 07484f;
}

/* IMPACT SECTION-------------------------------------------------------------------------------*/
.impact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: url("images/impact-mountains.png");
  background-size: cover;
}

.impact-title {
  color: white;
  margin: 0;
  text-align: center;
}

.impact-subtitle {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

.pollution-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 0.5fr;
      grid-template-rows: 1fr 1fr 0.5fr;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  margin-top: 1vh;
  border-style: solid;
  border-color: white;
}

.carbon-monoxide, .fine-particles, .ammonia {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 2vh;
}

.carbon-monoxide {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.fine-particles {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.ammonia {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.unit-representationCM {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6vh;
  color: gray;
}

.unit-representationFP {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6vh;
  color: gray;
}

.unit-representationAM {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6vh;
  color: gray;
}

.pollutant-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
}

.carbon-monoxide-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  position: relative;
}

.fine-particles-title {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  position: relative;
}

.ammonia-title {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  position: relative;
}

.units {
  color: gray;
  font-size: 0.7em;
  text-align: center;
}

.unit1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.unit2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.unit3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.pollution-city {
  position: relative;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  -ms-grid-row: 3;
      grid-row-start: 3;
  padding: 0;
  color: white;
  text-align: center;
  line-height: 40px;
  margin: 0;
}

.last-update {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
  -ms-grid-row: 3;
      grid-row-start: 3;
  color: white;
  text-align: center;
  margin: 0;
}

.impact-button {
  margin-top: 2vh;
}

/* PROTOTYPES SECTION-----------------------------------------------------------------------*/
.prototypes {
  background-image: url("images/small-prototypes.png");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prototypes-title {
  font-size: 1.8rem;
  color: white;
  font-family: 'roboto condensed';
  text-align: center;
}

.prototypes-button {
  margin-top: 28vh;
}

/* WORK WITH US SECTION----------------------------------------------------------------------*/
.work-with-us {
  background-image: url("images/small-work-with-us.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-with-us-title {
  color: white;
  text-align: center;
  font-family: 'roboto condensed';
  font-size: 1.8rem;
}

.work-with-us-button {
  margin-top: 28vh;
}

/* SUBSCRIBE SECTION---------------------------------------------------------------------------*/
.subscribe-container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.subscribe-text {
  margin: 0;
  font-size: 1.2em;
  text-align: left;
  font-family: 'roboto condensed';
}

.subscribe-input {
  font-size: 0.9em;
  text-align: center;
  min-width: 60vw;
  min-height: 3vh;
  margin-top: -10px;
  margin-bottom: 2vh;
}

.button-subscribe:active {
  position: relative;
  -webkit-transform: translate(0%, 3%);
          transform: translate(0%, 3%);
}

#snackbar {
  visibility: hidden;
  position: fixed;
  z-index: 3;
  padding: 2vh;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 2vh;
  min-width: 40vw;
  background-color: white;
  color: black;
  font-family: 'roboto condensed';
  text-align: center;
  border-radius: 5px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/* FOOTER------------------------------------------------------------------------------------------*/
.social:link, .social:visited {
  color: white;
}

.social:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-buttons li {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 30px 0px 0px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.disclaimer {
  color: gray;
  font-family: "roboto condensed";
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}

.legal-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.legal-items li {
  list-style: none;
  color: gray;
  font-family: "roboto condensed";
  font-size: 0.8em;
  text-align: center;
  padding: 0.5vw;
  margin: 0;
}
/*# sourceMappingURL=index-style.css.map */