@font-face {
    font-family: andromeda;
    src: url(fonts/Andromeda.ttf);
}
@font-face {
    font-family: 'roboto condensed';
    src: url(fonts/RobotoCondensed-Regular.ttf);
}

/* MAIN COLORS FOR THE WEBSITE---------------------------------------------------------------*/
$colors:(
    background: black,
    primary: #4D99AF,
    border: #07484f,
    button: #4D99AF,
    text: white,
    sub-text: gray
);

/* SAME STYLE FOR THE CONTAINER OF EACH SECTION OF THE PAGE---------------------------------------------------------*/
@mixin section{
    box-sizing: border-box;
    overflow: hidden;
    width: 94vw;
    height: 50vh;
    padding: 3vh;
    margin: 0;
    z-index: 0;
    background-size: 94vw;
    background-position: center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 4px;
    border-color: map-get($colors, border);
    font-family: 'roboto condensed';
    font-family: 'roboto condensed';
}
.landing, .how-started, .how-works, .innovations, .impact, .prototypes, .work-with-us{
    @include section; 
}

/* TITLE STYLES--------------------------------------------------------------------------------------------------------*/
@mixin title{
    font-family: 'roboto condensed';
    font-size: 1.8em;
    color: white;
    text-align: center;
    margin-top: 3vh;
}
.title{
    @include title;
}

/*BUTTON STYLES------------------------------------------------------------------------*/
@mixin button-info-style{
    width: 8em;
    height: 2.6em;
    margin: 0 auto;
    padding: 0.7em 1.2em;
    font-size: 1em;
    border-radius: 20px;
    border-style: none;
    background-image: radial-gradient(#1b373f, rgb(6, 43, 53));
    color: white;
}
.button-info{
    @include button-info-style
}
.button-info:active{
    transform: translateY(2px);
    filter: brightness(80%);
}

/* FONT SIZES------------------------------------------------------------------------------*/
$font-size:(
    title: 1.8rem,
    sub-title: 1rem,
    text: 0.8rem,
    sub-text: 0.5rem
);

/*TEXT STYLES-------------------------------------------------------------------------------*/
.text{
    color:white;
    font-family: 'roboto condensed';
    font-size: 1.2em;
    text-align: center;
}

html,body{
    box-sizing: border-box;
    width: 100vw;
    min-width: 320px;
    margin: 0;
    background-color: map-get($colors, background);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8vw;
    padding-right: 8vw;
    
}
/* HIDES THE REST OF THE CONTENT WHILE THE BURGER MENU IS OPEN --------------------------------*/
.body-scroll-hide{
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

/* HEADER--------------------------------------------------------------------------------------*/
.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    position: fixed;
    height: 7vh;
    top: 0;
    background-color: map-get($colors, background);
    opacity: 0.95;
    z-index:2;
}
  #header-title{
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 2vh;
    font-size: 1.5em;
    color: map-get($colors, text);;
    font-family: andromeda;
    opacity: 0;
    text-align: center;
    text-shadow: 0 0 0 #FFFFFF, 0 0 0 #FFFFFF, 0 0 0 #FFFFFF, 0 0 0 #228DFF, 0 0 0 #228DFF, 0 0 0 #228DFF, 0 0 0 #228DFF, 0 0 0 #228DFF;
}
  #header-title.blueGlow{
    color:#FFFFFF;
    text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 00px #FFF, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
}

/* BURGER MENU WITH OVERLAY -----------------------------------------------------------------*/
.overlay-container{
    width: 0;
    height: 0;
    background: map-get($colors, background);
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: map-get($colors, background);
    position: absolute;
    top: 0;
    left:-150vw;
    transition: left 0.5s ease-in-out;
    color: map-get($colors, text);
    overflow-x: hidden;
    z-index: 2;
    margin: 0;
}
.overlay-change{
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    margin: 0;
    background-color: black;
    background-size: 115vw 110vh;
}
.burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1.8em;
    height: 1.8em;
    position: fixed;
    top: 2vh;
    left: 3vw;
    cursor: pointer;
}
.burger-line{
    width: 100%;
    height: 3px;
    background-color: map-get($colors, primary);
    transition: all .8s;
}
.overlay-change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.overlay-change .line-2{
     opacity: 0;
  }
.overlay-change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
  }
.nav-list{
    text-align: center;
    padding: 0;
  }
.nav-item{
    list-style: none;
    margin: 25px 0;    
  }
.nav-link{
    text-decoration: none;
    font-size: 1.7em;
    color: map-get($colors, text);
    font-family: 'roboto condensed';
    text-align: center;
    position: relative;
}
.nav-link:active{
    font-size: 2em;
    text-shadow: 2px 2px rgb(19, 70, 67);
}
.navigation-line{
    width: 60vw;
    height: 1px;
}
  
/* DIVISION LINE FOR TITLES---------------------------------------------------------------------*/
.division-line-title{
    margin-top: 10vh;
    margin-bottom: 2vh;
    border-style: none;
    background-color: map-get($colors, primary);
    width: 80vw;
    height: 3px;
}

/* DIVISION LINE---------------------------------------------------------------------------*/
.division-line{
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-style: none;
    background-color: map-get($colors, primary);
    width: 80vw;
    height: 3px;
}

.form-container{
    box-sizing: border-box;
    width: 90vw;
    background: radial-gradient(circle, rgb(111, 147, 148) 0%,rgb(55, 107, 109) 50%, rgb(22, 75, 77) 100%);
    border-radius: 5px;
    color: white;
    font-family: 'roboto condensed';
    padding: 5vw;
}
.registration-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
input{
    display: block;
    border-style: none none solid none;
    border-color: rgb(175, 175, 175);
    background-color: transparent;
    width: 80vw;
    height: 5vh;
    margin-bottom: 3vh;    
}

input, textarea, select{
    color:white;
    font-size: 1.1em;
}
input::placeholder{
    color: rgb(255, 255, 255);
    padding: 0.5vh;
    font-size: 1.1em;
}
.form-division{
    margin-bottom: 5vh;
    width: 20vw;
}
input[type=checkbox] {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 0;
    margin-right: 2vw;
    vertical-align: sub;
  }
.optional-news{
    font-size: 1.1em;
}
.submit-button{
    display: flex;
    justify-content: center;
}


/* FOOTER------------------------------------------------------------------------------------------*/
a:link, a:visited{
    color: white;
    text-decoration: none;
}
a:active{
    transform: scale(1.1);
    text-decoration: none;
}
.social-buttons li{
    list-style: none;
    display: inline-flex;
    padding: 0px 25px 0px 0px;
    color: white;
    align-items: center;
}
.disclaimer{
    color: map-get($colors, sub-text);
    font-family: "roboto condensed";
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
}
.legal-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}
.legal-items li{
    list-style: none;
    color: gray;
    font-family: "roboto condensed";
    font-size: 0.8em;
    text-align: center;
    padding: 0.5vw;
    margin: 0;
}


@media all and (max-width: 500px){
    .full-navigation{
        display: none;
    }
}

@media all and (min-width: 500px) and (max-width: 1025px){

    .nav-link{
        font-size: 250%;
        line-height: 10vh;
    }
    .nav-link:active{
        font-size: 280%;
        text-shadow: 2px 2px rgb(19, 70, 67);
    }
    .title{
        font-size: 220%;
    }
    .full-navigation{
        display: none;
    }
    .social{
        font-size: 150%;
    }
    .disclaimer, .legal-items{
        font-size: 110%;
    }
}

@media all and (min-width: 1026px){
    body{
        padding: 0 10vw;
    }
    .overlay-container{
        display: none;
    }
    .navbar{
        display: none;
    }
    .overlay-change{
        display: none;
    }
    .burger-menu{
        display: none;
    }
    .burger-line{
        display: none;
    }
    .navigation-line{
        display: none;
    }
    .full-navigation li{
        display: inline-flex;
        justify-content: space-around;
        box-sizing: border-box;
        list-style: none;
        color: white;
        font-family: 'roboto condensed';
        font-size: 1.5em;
        padding: 0 2vw;
        margin-top: 8vh;
    }
    .full-navigation li:hover{
        transform: scale(1.1);
    }
    .division-line-title{
        margin-top: 2vh;
    }
    .form-container{
        width: 60vw;
    }
    input{
        
        width: 50vw;
        height: 5vh;
        margin-bottom: 3vh;    
    }

}